.btn {
  @include paragraph-01();
  display: inline-block;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  padding: 6px 12px;
  font-weight: 500;

  &.btn-black {
    background-color: transparent;
    color: $color--white;
    border: 1px solid $color--white;
  }

  &.btn-white {
    background-color: transparent;
    color: $color--white;
    border: 1px solid $color--white;
  }
}