.profile {
  padding: 50px 0;

  @include breakpoint(medium) {
    padding: 90px 0;
  }

  &__inner {
    @include inner();
    @include breakpoint(medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
    }
    @include breakpoint(large) {
      align-items: center;
    }
  }

  &__image {
    max-width: 100%;
    margin-bottom: 44px;
    width: 100%;
    img {
      aspect-ratio: 465 / 590;
      object-fit: cover;
      object-position: top;
    }

    @include breakpoint(medium) {
      margin-bottom: 0;
      width: 45%;
    }
    @include breakpoint(medium) {

    }
  }
  
  &__back {
    padding: 0;
    background: none;
    border: none;
    position: fixed;
    top: 23px;
    right: $gutter-width--mobile;
    z-index: 10;
    cursor: pointer;
    color: $color--white;
    @include breakpoint(medium) {
      position: absolute;
      top: 0;
      right: auto;
      left: 50%;
    }
    @include breakpoint(large) {
      left: 55%;
    }
  }

  &__content {
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(large) {
      max-width: 535px;
    }

    h1 {
      @include subheading();
      margin-bottom: 0;
      @include breakpoint(medium) {
        margin-top: 60px;
      }
      @include breakpoint(large) {
        margin-top: 0;

      }
    }

    p {
      @include paragraph-02();
      color: $color--white;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 40px;

    @include breakpoint(medium) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    @include breakpoint(large) {
      margin-top: 74px;
      margin-bottom: 80px;
    }

    ul {
      margin: 0;
      padding: 0;

      &:last-child {
        text-align: right;
      }
    }

    li {
      list-style-type: none;
      margin-bottom: 3px;
    }

    a {
      @include paragraph-01();
      text-decoration: none;
    }
  }
  &__bio {
    p {
      @include paragraph-01();
      color: $color--white;
    }
  }
}

.profile-template {
  .header__hamburger {
    display: none;
  }
}