.team-archive {
  padding: 60px 0;
  @include breakpoint(medium) {
    padding: 100px 0;
  }

  &__inner {
    @include inner;
  }

  &__items {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      grid-gap: 88px;
    }
  }
}